/* stylelint-disable color-hex-case */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable length-zero-no-unit */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background-color: #3c3a39;
}

#toolbar nav {
  display: none;
}

#my-logo {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
  font-size: 1.125;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #faeeee;
}

#union-button {
  display: flex;
  flex-direction: column;
  justify-content: center, space-around;
  align-items: center;
  width: 1.5rem;
  height: 1.25rem;
}

.fa-solid {
  font-size: 1.45rem;
  color: #fff;
  width: 100%;
  height: 90%;
}

#headline-container {
  width: 100%;
  height: 36rem;
  background-color: black;
}

#headline {
  color: #fff;
  background-color: black;
  height: 36rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 7.5rem 1.5rem;
  background-image: url(images/illustration-header-mobilebg\ image.png);
  background-repeat: no-repeat;
  background-position: top 150% left 100%;
}

#headline #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

#headline h1 {
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4rem;
  width: 20.25rem;
  height: 7.75rem;
  color: #ff6b00;
}

#headline h2 {
  font-family: "Roboto", 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  width: 20.25rem;
  height: 1.7rem;
  color: #fff5e1;
}

#headline p {
  font-family: "Poppins", 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  width: 20.25rem;
  height: 7.7rem;
}

#headline-icons {
  width: 12rem;
  height: 1.25rem;
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

#headline-icons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  gap: 0.25rem;
  width: 100%;
  height: inherit;
}

.icons {
  width: 1.125rem;
  height: 1.25rem;
  color: #dbd8d7;
}

#works-container {
  width: 100%;
  height: 170rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 0rem;
}

.works-title h2 {
  width: 20.375rem;
  height: 5.125rem;
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #1c1a19;
  display: flex;
  align-items: center;
}

.works-title-img {
  visibility: hidden;
  display: none;
}

#post-stories {
  height: 42rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}

#text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.55rem;
  position: relative;
}

#stories-title {
  height: 2.25rem;
  width: 20.375rem;
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.75rem;
  color: #091e42;
}

#stories-text {
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #091e42;
}

#stories-tags {
  width: 19.625rem;
  height: 2.5rem;
  align-self: flex-start;
}

#stories-tags ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#stories-tags li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  font-size: 0.8rem;
  font-weight: 500;
  height: 2.5rem;
  padding: 0.625rem 0.75rem;
  font-family: "Inter", 'Times New Roman', Times, serif;
  border: solid 0.065rem #8993a4;
}

#pst-btn {
  display: flex;
}

#pst-btn button {
  position: absolute;
  left: 0;
  padding: 0.75rem;
  background-color: #ff6b00;
  width: 7.75;
  height: 3rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  color: #faeeee;
  font-family: "Inter", 'Times New Roman', Times, serif;
}

#pst-btn button:hover {
  background-color: #fff;
  color: #ff6b00;
  border: 0.1rem #ff6b00 solid;
  cursor: pointer;
}

#pst-btn button:active {
  background-color: #E05304;
  color: #fff;
  border: 0.1rem #ff6b00 solid;
}

#pst-btn button:disabled {
  background-color: #f4f1f0;
  color: #3c3a39;
}

#projects-container {
  width: 100%;
  height: 130rem;
  padding: 3rem 1.5rem 1rem;
  display: grid;
  grid-template-columns: 20.44rem;
  grid-template-rows: repeat(4, 24.125rem);
  gap: 1rem;
  overflow: hidden;
}

#projects-container :nth-child(5n) {
  visibility: hidden;
  display: none;
}

#projects-container :nth-child(6n) {
  visibility: hidden;
  display: none;
}

.projects {
  width: 20.45rem;
  position: relative;
  height: 24.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-image: url(images/Img\ Placeholderprojectbgimg.png);
  background-repeat: no-repeat;
}

.projects span {
  visibility: hidden;
}

#projects-container :nth-child(3n) h3 {
  visibility: visible;
  margin-top: 1rem;
  width: 100%;
  margin-left: 1.5rem;
}

.projects h3 {
  width: 18.5rem;
  height: 5.125rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.75rem;
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  color: white;
  position: absolute;
  top: 2.5rem;
}

.projects p {
  width: 18.75rem;
  height: 6.25rem;
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
  position: absolute;
}

.project-tags {
  width: 15.45rem;
  height: 2.5rem;
  position: absolute;
  top: 18.25rem;
  left: 0.75rem;
  top: 68%;
}

.project-tags ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  color: white;
  font-family: "Inter", 'Times New Roman', Times, serif;
  width: 15.438rem;
  height: 2.5rem;
}

.projects li {
  font-weight: 500;
  padding: 0.625rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.24);
  font-size: 0.94rem;
}

.prjct-btn {
  width: 20.45rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.75rem;
  background-color: #ff6b00;
  height: 3rem;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  border: none;
  color: #faeeee;
  font-family: "Inter", 'Times New Roman', Times, serif;
}

.prjct-btn button {
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-size: 1.065rem;
  font-weight: 700;
  color: white;
  border: none;
  padding: 0.75rem;
  background-color: #ff6b00;
}

.prjct-btn button:hover {
  background-color: #fff;
  color: #ff6b00;
  border: 0.1rem #ff6b00 solid;
  cursor: pointer;
}

.prjct-btn button:active {
  background-color: #E05304;
  color: #fff;
  border: 0.1rem #ff6b00 solid;
}

.prjct-btn button:disabled {
  background-color: #f4f1f0;
  color: #3c3a39;
}

#about-me {
  width: 100%;
  height: 120rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: none;
}

#abt-container {
  width: 100%;
  height: 50rem;
  background-color: black;
  padding: 7.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url(images/illustration-about-me-mobilebgimg2.png), url(images/Vector\ 4vector2.svg);
  background-repeat: no-repeat;
  background-position: bottom 5% right 0%, bottom 0% center;
}

#abt-title h2 {
  font-family: "Crete Round", 'Times New Roman', Times, serif;
  font-size: 4.5rem;
  line-height: 5.5rem;
  font-weight: 400;
  width: 20.45rem;
  height: 5rem;
  color: #ff6b00;
}

#abt-text p {
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  width: 20.45;
  height: 9.25rem;
  padding: 0.5rem;
  color: #f4f5f7;
}

#resume-btn {
  display: flex;
  width: 20.45rem;
  align-items: flex-start;
}

#resume-btn button {
  padding: 0.75rem;
  background-color: #ff6b00;
  width: 7.75;
  height: 3rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  color: #faeeee;
  font-family: "Inter", 'Times New Roman', Times, serif;
}

#languages {
  width: 100%;
  height: 112rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.skills-1 {
  width: 14.065rem;
  height: 17.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.lang {
  width: 95%;
  height: 2.25rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.lang li {
  list-style: none;
  font-size: 2rem;
  font-family: "Inter", 'Times New Roman', Times, serif;
  color: white;
  font-weight: 700;
  line-height: 2.75rem;
}

.lists {
  font-family: "Inter", 'Times New Roman', Times, serif;
  width: 12rem;
  height: 13.5rem;
  color: #faeeee;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lists li {
  color: #faeeee;
  font-size: 1rem;
  line-height: 2.75rem;
  font-weight: 400;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  text-align: center;
}

#form-container {
  width: 100%;
  height: 50rem;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.625rem;
}

#form-intro {
  width: 20.375rem;
  height: 16.32rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-intro p {
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: 0em;
  text-align: center;
  color: #172B4D;
}

#real-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 20.625rem;
  width: 20.375rem;
}

#real-form input[type=text] {
  font-family: "Inter", 'Times New Roman', Times, serif;
  color: #979493;
  height: 3rem;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.125rem;
  font-weight: 500;
}

#real-form input[type=email] {
  font-family: "Inter", 'Times New Roman', Times, serif;
  color: #979493;
  width: 100%;
  height: 3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.25rem;
}

#real-form form textarea {
  width: 19.125rem;
  height: 7.25rem;
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #fBf8f7;
}

#real-form form button {
  background-color: #f55800;
  color: #f4f5f7;
  font-family: "Inter", 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  font-weight: 700;
  width: 10rem;
  height: 3rem;
  border: none;
  padding: 0.75rem;
}

#footer-container {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#footer-icons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  gap: 0.75rem;
  width: 100%;
  height: inherit;
}

.footer-social {
  width: 1.125rem;
  height: 1.25rem;
  color: #334a72;
  filter: invert(28%) sepia(22%) saturate(1129%) hue-rotate(179deg) brightness(90%) contrast(93%);
}

#footer-line-img {
  position: absolute;
  width: 8.375rem;
  height: 0.5rem;
  left: 32%;
  bottom: 0.5rem;
}

#real-form form button:hover {
  border: 1px solid #f55800;
  color: #faeeee;
  background: linear-gradient(0deg, #fff5E1, #fff5E1), linear-gradient(0deg, #F55800, #F55800);
}

#real-form form button:enabled {
  border: none;
  color: #faeeee;
  background: rgba(245, 88, 0, 1);
}

#real-form form button:disabled {
  border: solid 1px grey;
  color: #919191c9;
  background: rgba(244, 241, 240, 1);
}

@media only screen and (min-width: 768px) {
  #union-button {
    display: none;
  }

  #first-img {
    display: none;
  }

  #toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5rem;
  }

  #toolbar nav {
    display: initial;
  }

  #toolbar ul {
    display: flex;
    width: 15rem;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Inter", 'Times New Roman', Times, serif;
    gap: 0.5rem;
    list-style: none;
    text-decoration: none;
    margin-right: 2rem;
  }

  #toolbar a {
    text-decoration: none;
    color: #fff;
  }

  #headline {
    color: #fff;
    background-color: black;
    width: 36rem;
    height: 40 rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    background-image: none;
    margin-left: 3rem;
  }

  #my-logo {
    font-size: 1.35rem;
    line-height: 1.5rem;
  }

  #headline-container {
    width: 100%;
    height: 50.375rem;
    background-image: url(images/bgimagedsk.png);
    background-repeat: no-repeat;
    background-position: left 100% bottom 50%;
  }

  #headline h1 {
    width: 35.375rem;
    height: 10rem;
    font-size: 4.5rem;
    font-weight: 400;
    align-self: center;
    line-height: 5.125rem;
    font-family: "Crete Round", 'Times New Roman', Times, serif;
  }

  #headline h2 {
    font-family: "Inter", 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 2.75rem;
    align-items: center;
    font-weight: 500;
    width: 35.375rem;
    height: 3rem;
    color: #fff5e1;
  }

  #headline p {
    font-family: "Inter", 'Times New Roman', Times, serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    width: 35.375rem;
    height: 7.75rem;
  }

  #headline-icons {
    width: 2rem;
    height: 12rem;
    display: flex;
    align-items: flex-start;
    align-self: center;
  }

  #headline-icons ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    gap: 0.25rem;
    width: 100%;
    height: inherit;
  }

  .works-title {
    width: 75rem;
    height: 3.5rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  #mobile-line {
    visibility: hidden;
  }

  #works-container {
    height: 115rem;
    gap: 2rem;
  }

  .works-title h2 {
    width: 19.75rem;
    height: 100%;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3.25rem;
    color: #091e42;
    display: flex;
    align-items: center;
  }

  .works-title-img {
    width: 40rem;
    height: 0.75rem;
    visibility: initial;
    display: initial;
  }

  #mobile-yoga {
    visibility: hidden;
  }

  #yoga-post {
    width: 42.75rem;
    height: 28rem;
    background-image: url(images/desktop/yoga\ desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 55%;
  }

  #post-stories {
    height: 35rem;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
    width: 72.25rem;
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
  }

  #text-info {
    width: 45%;
    height: 85%;
    /* padding: 0 2rem; */
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    position: relative;
  }

  #stories-title {
    width: 28rem;
    margin-top: -6.75rem;
    height: 3rem;
    font-size: 2rem;
    line-height: 3.25rem;
  }

  #stories-text {
    width: 28rem;
    font-family: "Inter", 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 1.75rem;
    font-size: 1.25rem;
  }

  #stories-tags {
    width: 19.75rem;
    height: 2.5rem;
    margin-left: 1.5rem;
  }

  #pst-btn button {
    position: absolute;
    left: 1.5rem;
  }

  #projects-container {
    width: 73rem;
    height: 55rem;
    display: grid;
    grid-template-columns: repeat(3, 20.44rem);
    grid-template-rows: repeat(2, 24.125rem);
    gap: 1rem;
    justify-content: center;
  }

  #projects-container :first-child h3 {
    visibility: hidden;
  }

  #projects-container :first-child p {
    visibility: hidden;
  }

  #projects-container :first-child .project-tags {
    visibility: hidden;
  }

  .projects:first-child {
    background-image: url(images/desktop/Img\ Placeholder.png);
    background-repeat: no-repeat;
  }

  #projects-container :nth-child(2n) h3 {
    visibility: hidden;
  }

  #projects-container :nth-child(2n) .prjct-btn {
    visibility: hidden;
  }

  #projects-container :nth-child(2n) .project-tags {
    top: 18.25rem;
    left: 0.75rem;
    top: 85%;
  }

  #projects-container :nth-child(2) p {
    top: 53%;
  }

  .projects:nth-child(2n) {
    background-image: url(images/desktop/imgbg-2.png);
    background-repeat: no-repeat;
  }

  #projects-container :nth-child(3n) h3 {
    visibility: hidden;
  }

  #projects-container :nth-child(3n) p {
    top: 53%;
  }

  #projects-container :nth-child(3n) .project-tags {
    top: 18.25rem;
    left: 0.75rem;
    top: 85%;
  }

  #projects-container :nth-child(3n) .prjct-btn {
    visibility: hidden;
  }

  .projects:nth-child(3n) {
    background-image: url(images/desktop/ImgPlaceholder3rdchild.png);
    background-repeat: no-repeat;
  }

  #projects-container :nth-child(3n) span {
    top: 125%;
  }

  .projects:nth-child(4n) {
    background-image: url(images/desktop/ImgPlaceholder4th.png);
    background-repeat: no-repeat;
  }

  #projects-container :nth-child(4n) .project-tags {
    top: 18.25rem;
    left: 0.75rem;
    top: 85%;
  }

  #projects-container :nth-child(4n) p {
    top: 53%;
  }

  #projects-container :nth-child(4n) h3 {
    visibility: visible;
    margin-top: 3rem;
  }

  .projects span {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 90%;
  }

  .projects:nth-child(5n) {
    background-image: url(images/desktop/imgbg-2.png);
    background-repeat: no-repeat;
  }

  #projects-container :nth-child(5n) .prjct-btn {
    visibility: hidden;
  }

  #projects-container :nth-child(5n) .project-tags {
    top: 18.25rem;
    left: 0.75rem;
    top: 85%;
  }

  #projects-container :nth-child(5n) p {
    top: 53%;
  }

  #projects-container :nth-child(2) p {
    top: 53%;
  }

  #projects-container :nth-child(5n) h3 {
    visibility: hidden;
  }

  #projects-container :nth-child(5n) {
    visibility: visible;
    display: flex;
  }

  #projects-container :nth-child(6n) {
    visibility: visible;
    display: flex;
  }

  #about-me {
    background-image: url(images/desktop/illustration-about\ me.png), url(images/desktop/Vector-line\ 4.svg);
    background-repeat: no-repeat;
    background-position: bottom 95% left 100%, bottom 54% center;
    height: 70rem;
  }

  #abt-container {
    width: 35.375rem;
    height: 30rem;
    background-image: none;
    margin-left: -40rem;
    margin-top: -10rem;
  }

  #abt-title h2 {
    margin-left: -11rem;
  }

  #abt-text p {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  #resume-btn {
    margin-top: 2rem;
    margin-left: -11rem;
  }

  #resume-btn button:hover {
    background-color: #fff;
    color: #ff6b00;
    border: 0.1rem #ff6b00 solid;
    cursor: pointer;
  }

  #resume-btn button:active {
    background-color: #E05304;
    color: #fff;
    border: 0.1rem #ff6b00 solid;
  }

  #resume-btn button:disabled {
    background-color: #f4f1f0;
    color: #3c3a39;
  }

  #languages {
    flex-direction: row;
    height: 20rem;
    justify-content: space-evenly;
    margin-top: 7.25rem;
  }

  .lists li{
    justify-content: left;
  }
}